INNGEST_EVENT_KEY="local"
INNGEST_SIGNING_KEY=

ALBY_OAUTH_CLIENT_ID=
ALBY_OAUTH_CLIENT_SECRET=

DATABASE_URL=postgres://user:password@localhost:5432/boostagram-viewer
NEXTAUTH_URL=http://localhost:8080
NEXTAUTH_SECRET=xxxxxxxxxxxxxx

PRISMA_FIELD_ENCRYPTION_KEY=

#NEXT_PUBLIC_DEFAULT_NOSTR_WALLET_CONNECT_URL=
#NEXT_PUBLIC_DEFAULT_LIGHTNING_ADDRESS=
#NEXT_PUBLIC_DEFAULT_MESSAGE=