name: Fly Deploy
on:
  push:
    branches:
      - main
      - chore/sentry
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --build-secret DATABASE_URL="${{ secrets.DATABASE_URL }}" --build-secret PRISMA_FIELD_ENCRYPTION_KEY="${{ secrets.PRISMA_FIELD_ENCRYPTION_KEY }}" --build-secret SENTRY_AUTH_TOKEN="${{ secrets.SENTRY_AUTH_TOKEN }}" --build-secret SENTRY_DSN="${{ secrets.SENTRY_DSN }}"
  inngest:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: curl
        uses: wei/curl@master
        with:
          args: -X PUT https://nwc-periodic-payments.fly.dev/api/inngest
